html,
body {
  overflow: hidden;
}

#main-scrollbar {
  width: auto;
  height: 100vh;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
  padding-block: 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 20;
}

#nav-home-btn {
  font-weight: bold;
  font-size: 1.75rem;
  z-index: 1;
  border: none;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
}

#section-title {
  font-size: 1.5rem;
  font-weight: bold;
}

#nav-menu-btn {
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  width: 65px;
  height: 65px;
  background-color: transparent;
  border: none;
  z-index: 1;
}

#nav-menu-content {
  position: fixed;
  height: 100vh;
  width: 50%;
  left: 0;
  top: -100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-menu-content > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#nav-menu-content > ul > li > button {
  font-size: 2rem;
  background-color: transparent;
  color: var(--secondary-color);
  border: none;
  border-bottom: 2px solid transparent;
  padding: 5px;
  transition: 0.3s border-bottom;
}

#nav-menu-content > ul > li > button:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--secondary-color);
}

#nav-menu-animation {
  position: fixed;
  height: 100vh;
  width: 50%;
  right: 0;
  bottom: -100vh;
  background-color: var(--secondary-color);
}

.container {
  padding-inline: 200px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.section-background-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
}

.section-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-block: 80px;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
}

.hero-background {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%;
}

.hero-background > .plants {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 500px;
  position: absolute;
}

.hero-background > .fish-1 {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  position: absolute;
}

.hero-background > .fish-2 {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  position: absolute;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
  gap: 50px;
}

.hero-content > #platform-access-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-content > #platform-access-btns > .btn {
  padding: 15px 30px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  transition: 0.2s all;
}

.hero-content > #platform-access-btns > .btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.hero-content > #platform-access-btns > a {
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-decoration: none;
}

.hero-content > h2 {
  font-size: 3.5em;
  width: 50%;
  max-width: 600px;
  color: var(--secondary-color);
}

.hero-content > h2 > span {
  color: #ffffff;
}

.hero-scroll-icon-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  box-sizing: border-box;
}

#hero {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  position: relative;
}

#section-1 {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
}

.section-1-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  color: var(--primary-color);
}

.section-1-content > .step {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
  gap: 50px;
}

.section-1-content > .step > .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 50%;
}

.section-1-content > .step > .text-wrapper > h3 {
  font-weight: bold;
  font-size: 2rem;
}

.section-1-content > .step > .text-wrapper > p {
  font-size: 1.25rem;
}

.section-1-content > .step > .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
}

.section-1-content > .step > .image-wrapper > img {
  max-width: 350px;
}

#section-2 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--primary-color);
}

.section-2-content {
  display: flex;
  color: var(--secondary-color);
  height: 100%;
}

.section-2-content .left > div,
.section-2-content .center > div,
.section-2-content .right > div {
  box-sizing: border-box;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.section-2-content .left,
.section-2-content .right {
  width: 45%;
}
.section-2-content .left {
  text-align: start;
}
.section-2-content .right {
  text-align: end;
}

.section-2-content .center {
  width: 10%;
}

.section-2-content .center > div {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.section-2-content .left > div > h3,
.section-2-content .right > div > h3 {
  font-size: 2rem;
  font-weight: bold;
}

.section-2-content .left > div > p,
.section-2-content .right > div > p {
  font-size: 1.25rem;
}

#section-3 {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.section-3-content {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-3-content > .card {
  width: 33.33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.section-3-content > .card > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.section-3-content > .card > .image-wrapper {
  display: flex;
  align-items: center;
}

.section-3-content > .card > .image-wrapper > img {
  width: 60%;
  height: 60%;
  min-width: 200px;
  min-height: 200px;
}

.section-3-content > .card > .card-content > h3 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

.section-3-content > .card > .card-content > p {
  font-size: 1.1rem;
  text-align: center;
}

#section-4 {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
}

#section-4 .section-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

#section-4 .section-content-wrapper > .card {
  width: 50%;
  height: 25vh;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#section-4 .section-content-wrapper > .card > h3 {
  font-size: 1.7rem;
  max-width: 80%;
}

#section-4 .section-content-wrapper > .card > p {
  font-size: 1.2rem;
  max-width: 80%;
}

#section-4 .section-content-wrapper > .card.right {
  margin-left: 50%;
  align-items: end;
  text-align: end;
}

#section-5 {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

#section-5 .section-content-wrapper {
  display: flex;
}

.slideshow-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.slideshow-wrapper > .slideshow-button {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-wrapper > .slideshow-button > button {
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  width: 65px;
  height: 65px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  z-index: 1;
  transition: all 0.4s;
}

.slideshow-wrapper > .slideshow-slide-wrapper {
  flex: 1;
  display: flex;
  width: 100%;
  position: relative;
}

.slideshow-wrapper > .slideshow-slide-wrapper > .slide {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}

.slideshow-wrapper > .slideshow-slide-wrapper > .slide.hide {
  display: none;
}

.slideshow-wrapper > .slideshow-slide-wrapper > .slide > .image-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}

.slideshow-wrapper > .slideshow-slide-wrapper > .slide > .image-wrapper > img {
  max-width: 300px;
}

.slideshow-wrapper > .slideshow-slide-wrapper > .slide > .content-wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 25px;
  box-sizing: border-box;
  gap: 15px;
}

.slideshow-wrapper > .slideshow-slide-wrapper > .slide > .content-wrapper > h3 {
  font-size: 2rem;
}

.slideshow-wrapper > .slideshow-slide-wrapper > .slide > .content-wrapper > p {
  font-size: 1.25rem;
}

#section-6 {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#section-6 .section-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wraper: 1;
}

#section-6 .section-content-wrapper > .card {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 40px;

  text-align: center;
}

footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

footer .footer-content-wrapper {
  display: flex;
  flex-direction: row;
  padding: 80px;
  justify-content: space-between;
}

footer .footer-content-wrapper > .links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .footer-content-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer .footer-content-wrapper li {
  display: flex;
  justify-content: start;
}

footer .footer-content-wrapper a {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--primary-color);
}

footer .footer-content-wrapper .copy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

footer .footer-content-wrapper .copy-wrapper h4 {
  font-size: 1.25rem;
}

footer .footer-content-wrapper .copy-wrapper ul {
  gap: 5px;
}

@media (max-width: 576px) {
  #nav-menu-content {
    width: 100vw;
  }

  #nav-menu-animation {
    display: none;
  }

  .container {
    padding: 30px;
  }

  .hero-content > h2 {
    font-size: 2rem;
    width: 100%;
  }
}
